/* Alumni Page Style Sheet */

/* Navigation Bar */

#navbar {
  background: #000;
  height: 100%;
  margin-left: 10px;
  position: fixed;
  text-align: right;
  width: 230px;

  overflow-y: auto;
}

.nav li a {
	padding-right: 10px;
}

.nav li a:hover{
    color: #7CA2D7 !important;
    background: none;
}

.nav li.active a{
    color: #7CA2D7;
    padding-right: 0px;
}

#backHome {
	padding-top: 5px;
	padding-right: 10px;
	font-size: 22px;	
}

/* History text */ 

#alumni {
	width: 85%;
	padding-bottom: 0;
}

#alumni h1 {
	margin-top: 0px;
}

#alumni p {
	font-size: 22px;
}

/* Year Divs */
.year {
	width: 70%;
	margin: 0px auto 0px;
	padding: 16px 20px 20px;
	margin-bottom: 30px;
}

.year h2 {
	font-size: 44px;
	color: #A7CDDE;
	padding-bottom: 10px;
}

.year img {
	max-height: 200px;
	width: auto;
	margin: 12px 12px 12px 0px;
}

.year a {text-decoration: underline;}
.year a:link {color: #3D64FF;}
.year a:hover {color: #7CA2D7;}
.year a:visited {color: #A159A1;}

/* Selectable Images (with Lightbox) */

.selectable {
	border:5px solid #ffffff;

	-webkit-transition: all 0.2s ease-out;
  	-moz-transition: all 0.2s ease-out;
  	-ms-transition: all 0.2s ease-out;
  	-o-transition: all 0.2s ease-out;
  	transition: all 0.2s ease-out;
}

.selectable:hover {
	border:5px solid #7CA2D7;
}

/* Accordions */ 

.accordion p {
	font-size: 20px;
	text-align: left;
}

.accordion strong {
	color: #7CA2D7;
}

.accordion img {
	float: left;
	margin-right: 22px;
}

/* 
--------------------------------------------------
   Imported Necessary Styles from jquery-ui.css  
--------------------------------------------------
*/


/* Layout helpers
----------------------------------*/
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-state-disabled {
	cursor: default !important;
}

/* Accordion visuals
----------------------------------*/

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}

.ui-accordion .ui-accordion-icons {padding-left: 2.2em;}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {padding-left: 2.2em;}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}

/* Component containers
----------------------------------*/

.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
	color: #363636;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */

.ui-icon {width: 16px; height: 16px}

.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(../img/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(../img/ui-icons_222222_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(../img/ui-icons_888888_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(../img/ui-icons_454545_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(../img/ui-icons_454545_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(../img/ui-icons_2e83ff_256x240.png);
}

/* positioning */
.ui-icon-blank 		  { background-position: 16px 16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }


/* Rounded Corners
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {border-top-left-radius: 4px;}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {border-top-right-radius: 4px}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {border-bottom-left-radius: 4px}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {border-bottom-right-radius: 4px}


/* 
========================
FIXES FIXES DON'T DELETE
======================== */

.ui-accordion .ui-accordion-header {
	padding: .2em .2em .2em 1.7em;
}

/* Highlight function */
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	color: #555555;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: 1px solid #606060;
	background: #808080 url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #000000;
}


/* Media Queries */

@media only screen and (max-width: 1000px) {
	.year 		 {width: 85%;}
	.accordion p {float: left; clear: both}
}

@media only screen and (max-width: 767px) {
	#navbar   {display: none}
	#alumni p {font-size: 16px}
	.year     {width: 90%}
	.year     {padding: 10px}  

	.ui-accordion .ui-accordion-content {
		padding-left: 12px;
		padding-right: 12px;
	}
	.accordion img {
		display: block;	
		float: none;
		margin: 0 auto 5px auto;
	}
	.accordion p {
		font-size: 18px;
		margin: 8px 8px;
	}

}

@media only screen and (max-width: 600px) {
	.year img {max-height: 150px}
}