/* Alumni Page Style Sheet */

/* Navigation Bar */

#navbar {
  background: #000;
  height: 100%;
  margin-left: 10px;
  position: fixed;
  text-align: right;
  width: 230px;

  overflow-y: auto;
}

.nav li a {
	padding-right: 10px;
}

.nav li a:hover{
    color: #7CA2D7 !important;
    background: none;
}

.nav li.active a{
    color: #7CA2D7;
    padding-right: 0px;
}

#backHome {
	padding-top: 5px;
	padding-right: 10px;
	font-size: 22px;
}

/* History text */ 

#alumni {
	width: 85%;
}

#alumni h1 {
	margin-top: 0px;
}

#alumni p {
	font-size: 22px;
}

/* Year Divs */
.year {
	width: 80%;
	margin: 0px auto 0px;
	padding: 16px 20px 20px;
	margin-bottom: 30px;
}

.year h2 {
	font-size: 44px;
	color: #A7CDDE;
	padding-bottom: 10px;
}

.year img {
	max-height: 200px;
	width: auto;
	margin: 12px 12px 12px 0px;
}

.year a {text-decoration: underline;}
.year a:link {color: #3D64FF;}
.year a:hover {color: #7CA2D7;}
.year a:visited {color: #A159A1;}

/* Selectable Images (with Lightbox) */

.selectable {
	border:5px solid #ffffff;

	-webkit-transition: all 0.2s ease-out;
  	-moz-transition: all 0.2s ease-out;
  	-ms-transition: all 0.2s ease-out;
  	-o-transition: all 0.2s ease-out;
  	transition: all 0.2s ease-out;
}

.selectable:hover {
	border:5px solid #7CA2D7;
}

/* Accordions */ 

.accordion p {
	font-size: 20px;
	text-align: left;
}

.accordion strong {
	color: #7CA2D7;
}

.accordion img {
	float: left;
	margin-right: 22px;
	border: 7px solid #141414;

}

.ui-accordion .ui-accordion-header {
	padding: .2em .2em .2em 1.7em;
}

/* Remove Rounded Corners 

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px;
}*/

/* Highlight function */
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	color: #555555;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: 1px solid #606060;
	background: #808080 url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #000000;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
	.year img {max-height: 150px;}
}

@media only screen and (max-width: 767px) {
	#navbar {
      display: none;
    }
}
