/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* end clear */


body {
  background: #000;
  color: #eaeaea;
  font-family: 'Raleway', sans-serif;
}

p, li {
  letter-spacing: 0.03em;
  font-weight: 300;
  font-style: normal;
  font-size: 26px;
  line-height: 120%;
}
p {
  margin: 10px 0 18px 0;
}
.justify {
  text-align: justify;
}
.small-text {
  font-size: 22px;
}

a {
  color: #A7CDDE;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #7CA2D7;
}

strong, b {
  color: #cce2ec;
  font-weight: 500;
}

img {
  max-width: 100%;
}

h1 {
  margin: 50px 0 20px 0;
  color: #A7CDDE;
  text-align: center;
  font-weight: 800;
  font-size: 42px;
}

#parent {
  margin: auto;
  width: 100%;
}

nav {
  position: fixed;
  margin-left: 10px;
  width: 230px;
  height: 100%;
  background: #000;
  text-align: right;
/*  z-index: 1; */
}

#logo {
  width: 100%;
}

nav ul {
  margin: 5px 0 15px 0;
  padding-left: 0;
  list-style: none;
}

nav li a {
  display: inline-block;
  padding-left: 5px;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
}

nav li img {
  margin: 5px 0;
}

#sticky{
  margin: 10px;
  text-align: center;
}

#home img {
  padding-top: 60px;
  width: 90%;
}

#home h1 {
  display: none;
}

#main {
  margin-right: 10px;
  margin-left: 250px;
  padding: 0 10px 0 20px;
  width: auto;
}

section {
  margin: 0 auto;
  margin-bottom: 90px;
  width: 95%;
}

.center {
  text-align: center;
}

#centercarousel {
  margin: 0 auto;
  max-width: 600px;
}

#gallery {
  margin: 0 auto;
}

#gallery li {
  float: left;
  margin: 0 10px 0 10px;
  padding-bottom: 10px;
  width: 160px;
  list-style: none;
  letter-spacing: 0.06em;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

#gallery span {
  position: absolute;
  overflow-y: hidden;
  margin-top: -25px;
  padding: 3px 0 3px 0;
  width: 160px;
  height: 17px;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0) transparent;
  /* RGBa */
  background: rgba(0, 0, 0, 0.65);
  text-align: center;
  font-size: 14px;
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000)";
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#BF000000);
}

#history a {
  text-decoration: underline;
}

.modalStyle {
  color: #000000;
}

.modalStyle img {
  float: left;
  margin-right: 16px;
  width: 120px;
  color: #000000;
}

.modalStyle p {
  color: #000000;
  font-size: 18px;
}

.modalStyle strong,
.modalStyle em {
  color: #7CA2D7;
}

.slider {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  padding-bottom: 40px;
  width: 600px;
  height: 390px;
}

.slider li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.line-separator{
  margin: 30px 20% 30px 20%;
  height:1px;
  border-bottom:1px solid #313030;
  background:#717171;
  text-align: center;
}

.store_button{
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 15px 70px;

  border:2px solid #111;
  border-color:#6fadc9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background:#111;

  /* Color */
  background-color:#6fadc9;

  -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
  -moz-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
  box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
  color:#f8f8f8;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  line-height: 20px;
  opacity:1;
}

a.store_button{color: #313131;}
.store_button:hover{color:#fff;opacity:1;}
.store_button:active{position:relative;top:1px;}

footer {
  margin-top: 100px;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 12px;
}

/* Auditions Banner */
#audition-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #7CA2D7;
  text-align: center;
}

#audition-banner a {
  color: #fff;
  font-size: 2em;
}

#audition-banner a:hover {
  color: #000;
}

#auditions li {
  padding-left: 60px;
}

/* Media Queries for all devices: */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    #media {
      display: none;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) { }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    nav {
      display: none;
    }

    #main {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      width: 100%;
    }

    p {
      font-size: 18px;
    }

    #home img {
      padding-top: 0;
      padding-bottom: 10px;
      width: 100%;
    }

    #home h1 {
      display: inline;
    }

  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) { }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) { }


/* Opera Media query */
@media not screen and (1) {
  #gallery span {
    position: static;
  }
}

/* Firefox label problem, quick fix */
@-moz-document url-prefix() {
  #gallery span {
        position: static;
    }
}