body {
	background: #000;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}
a {
	color: #A3D3FF;
	text-decoration: none;
}
a#selected {
	color: #fff;
	text-decoration: none;

}
a:hover {
	color: #7ba2dd;
  text-decoration: none;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
}

img {
	max-width: 100%;
}


#parent {
  margin: -8px auto 0 auto;
  width:960px;
}

#sidenav {
  margin: 15px 0 0 0;
  width: 153px;
  height: auto;
  position: fixed;
}


#logo {
  margin: 0;
}

nav {
  padding-right: 15px;
  padding-left: 15px;
  margin: 25px 0 0 0;
}

nav ul{
	list-style: none;
	font-size: 20px;
	padding-left: 0;
	width: 125px;
	text-align: right;
	padding-right: 50px
}

nav > .active > a,
nav > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.footer{
	text-align: center;
	padding-top: 40px;
}

#sidenav li a {
  display:block;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
}

nav li a:hover {
  background-color: #1a1a1a;
}

nav li.active a {
  background-color: #1a1a1a;
}

#main {
  margin: 25px 20px 0 200px;
  float: left;
  width: 560px;
  height: auto;
  background-color: #1a1a1a;
  padding: 0 20px 0 20px;
  border-radius: 5px;
}

aside {
  width: 100px;
  height: auto;
  float: left;
  position: relative;
}

#events {
	position: fixed
}