body {
	background: #000;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}
a {
	color: #C7E0FE;
	text-decoration: none;
}
a#selected {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #7ba2dd;
}

.sidenav {
	text-align: right;
}

.container{
	margin-top: 30px;
}

.footer{
	text-align: center;
	padding-top: 40px;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

img {
	max-width: 100%;
}

