body {
	background: #000;
	color: #FFF;
  font-family: 'Open Sans', sans-serif;
	font-style: normal;
  line-height: 100%;
}
p{
  font-size: 24px;
  line-height: 120%;
  margin: 10px 0 18px 0;
}
li{
  font-size: 24px;
  line-height: 110%;
}
a {
	color: #A3D3FF;
	text-decoration: none;
}
a#selected {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #407aaf;
  text-decoration: none;
}
img{
  max-width: 100%;
}
h1{
  color: #bddfff;
  font-size: 44px;
  margin: 50px 0 40px 0;
  text-align: center;
}
#parent {
  margin: auto;
  width: 100%;
}

nav {
  height: auto;
  width: 230px;
  margin-left: 10px;
  position: fixed;
  text-align: right;
}

#logo{
  width: 100%;
}
nav ul{
	list-style: none;
  margin: 5px 0 15px 0;
  padding-left: 0;
}

nav li a {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  line-height: 100%;
  padding-left: 5px;
}

nav li img{
  margin: 5px 0;
}


#main {
  margin-left: 250px;
  margin-right: 10px;
  width: auto;
}

.center{
  text-align: center;
}

.centercarousel{
  max-width: 700px;
  margin: 0 auto;

}
section {
  margin-top: 20px;
  width: 100%;
}

.gallery li {
  float: left;
  font-size: 16px;
  line-height: 100%;
  list-style: none;
  margin: 0 10px 0 10px;
  padding-bottom: 10px;
  width: 150px;
}

.footer{
  text-align: center;
  padding-top: 40px;
}
